.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__item {
    max-width: 350px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    @media only screen and (max-width: 800px) {
      max-width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__info {
    padding: 0 0;
  }

  &__text {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &__thumbnail {
    width: 100%;
    transform: translateY(-2px);
  }

  &__github-link {
    &:link,
    &:visited {
      color: black;
    }
  }
}
